    @import url('https://fonts.googleapis.com/css2? family=poppins:wght@400;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}
body{
    
    background-color: rgb(25, 53, 77) ;
    
}

.wrapper2{
    width: 330px;
    padding: 2rem 1rem;
    margin: 50px auto;
    background:transparent;
    background-image: url();
    border-radius: 50px;
    text-align: center;
    box-shadow: 0 10px 25px;
}
h1{
    font-size: 20px;
    color:white;
    margin-bottom: 1.2rem;
}
form input{
     width: 92%;
     outline: none;
     border: 1px solid #fff;
     padding: 12px 20px;
     margin-bottom: 10px;
     border-radius: 20px;
     background: transparent;

}
button {
    box-shadow: 0 0 5px rgb(0, 255, 55),
    0 0 25px cyan;
    font-size: 1rem;
    margin-top: 1.8rem;
    padding: 10px 0;
    border-radius: 20px;
    width: 90%;
    outline: none;
    cursor: pointer;
    background-color:rgb(27, 146, 72);
    
    
   
    


}
.wrapper{
    width: 330px;
    padding: 2rem 1rem;
    margin: 50px auto;
    background:black;
    background-image: url();
    border-radius: 50px;
    text-align: center;
    box-shadow: 0 10px 25px;
}
button:hover {
  box-shadow: 0 0 5px rgb(242, 190, 199),
  0 0 25px rgb(242, 190, 199), 0 0 50px rgb(242, 190, 199),
  0 0 100px  rgb(242, 190, 199), 0 0 200px rgb(242, 190, 199);
  color: black;
  
}
input:focus{
    border: 1px solid rgb(21, 230, 136);
}
.terms{
    margin-top: 0.2rem;
    color: coral;
}
.terms input{
    height: 1em;
    width: 1em;
    vertical-align: middle;
    cursor: pointer;
}
.terms label{
    font-size: 0.7rem;
}
.terms a{ 
    color: rgb(70, 213, 27);
    text-decoration: none;
}
.member{
    font-size: 0.8rem;
    margin-top: 1.4rem;
    color: #e8e2e2;
}
.member a{
    color: rgb(240, 119, 6);
    text-decoration: none;
}
.recover{
    text-align: right;
    font-size: 0.7rem;
    margin: 0.3rem 1.4rem 0 0;
}
.recover a{
    text-decoration: none;
    color: #f5fdf5;
}
.abc{
    transition: ease;
    background-color: rgb(235, 87, 112);
}